/src/zem/contracts/   @MuhammadAbdullahSalahuddin @simpl3-dev
/src/zem/reasoning/   @simpl3-dev
/src/zem/intel/       @simpl3-dev
/web/                 @simpl3-dev
*                     @MuhammadAbdullahSalahuddin
